{
  "insecure-registries": [{{ docker_insecure_registries|map("to_json")|join(", ") }}],
  "registry-mirrors": [{{ docker_registry_mirrors|map("to_json")|join(", ") }}],
  "exec-opts": ["native.cgroupdriver={{ docker_cgroup_driver | default('systemd') }}"],
  "log-driver": "{{ docker_log_driver | default('json-file') }}",
  "log-opts": {
    "max-size": "{{ docker_log_max_size | default('30m') }}"
  },
  "storage-driver": "{{ docker_storage_driver | default('overlay2') }}"
}
